.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    border:10px solid lightgray;
    background-color:whitesmoke;
    width:20rem;
    padding:1rem .5rem;
    margin:2rem;
    position:relative
}

input{
    margin: 0 2rem;
}